body {
	font-family: 'Arial';
	font-size: 12px;
}

.search-label {
	display: block;
  font-size: 18px;
	margin-bottom: 6px;
}

.search-input {
	display: block;
	width: 100%;
	font-size: 12px;
	border-radius: 5px;
	border: 2px solid grey;
	-webkit-appearance: none;
	padding: 1em 0.5em;
	margin-bottom: 8px;
	box-sizing: border-box;
}

.search-input:focus {
	outline: 0;
	border-color: darken(#0170bc, 10%);
	box-shadow: 0 0 5px 0 darken(#0170bc, 10%);
}


.search-label span {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.form-error {
  color: red;
}

.wrapper {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

.wrapper form {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 50px;
}

.button {
	background: #0170bc;
	color: #fff;
	border: 0;
	border-radius: 5px;
	appearance: none;
	cursor: pointer;;
	font-size: 16px;
	padding: 1em 2.5em;
	line-height: 1.3;
	border: 2px solid transparent;
}

.button:focus, .button:hover {
  outline: 0;
  border-color: darken(#0170bc, 10%);
  background-color: darken(#0170bc, 5%);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.63);
}

.search-input {
	display: block;
	width: 100%;
	font-size: 16px;
	border-radius: 5px;
	border: 2px solid grey;
	-webkit-appearance: none;
	padding: 1em 0.5em;
	margin-bottom: 8px;
	box-sizing: border-box;
}
.search-input:focus {
  outline: 0;
  border-color: darken(#0170bc, 10%);
  box-shadow: 0 0 5px 0 darken(#0170bc, 10%);
}

[aria-hidden="true"], .hidden {
	display: none;
}

[aria-hidden="false"] {
	display: block;
}

[aria-invalid] {
	border: 2px solid #cc3535;
	outline: 0;
}

[aria-invalid]:focus, [aria-invalid]:hover {
  outline: 0;
  border-color: darken(#cc3535, 5%);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.63);
}

.error span {
	  display: block;
    background-color: #cc3535;
    background-image: url("/static/error.png");
    background-repeat: no-repeat;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    font-size: 80%;
    border-radius: 5px;
    padding-left: 30px;
    background-size: 20px 20px;
    background-position: left 5px center;
}

/* popup stuff */
div#status-p {
  white-space: pre;
}
button.popup {
  height: 30px;
  width: 128px;
  outline: none;
  margin: 3px;
  text-decoration: bold;
  text-align: center;

	background: #0170bc;
	color: #fff;
	border: 0;
	border-radius: 5px;
}

button.popup:disabled {
  background-color: white;
}
